<link rel="stylesheet" href="/styles/style.css" />

<header>
    <img src="/assets/Shiksha.Tech Logo.png" height="50px" />
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="">Course</a>
        </li>
        <li>
          <a href="">Schemes</a>
        </li>
        <li>
          <a href="/intern">Internships</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="btn">
      <button class="login">Login</button>
      <button class="signUp">Get Started</button>

      <div class="hamburger">
        <img
          src="/assets/ic-web-head-hamburger.svg"
          alt=""
          id="menu"
          onclick="openNav()"
        />
        <span id="mySidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="">Course</a>
            </li>
            <li>
              <a href="">Schemes</a>
            </li>
            <li>
              <a href="/intern">Internships</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
          <div class="ls">
            <br />
            <br />
            <button class="login1">Login</button><br /><br />
            <button class="signUp1">Get Started</button>
          </div>
        </span>
      </div>
    </div>
  </header>