* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

header {
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

header h1 {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin: 0px 20px 0px 0px;
}

header ul li a {
  color: black;
  text-decoration: none;
}

header ul li a:hover {
  box-sizing: content-box;
  padding: 3px;
  background-color: #efefef;
  border-radius: 5px;
}

.btn .login {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-right: 10px;
}

.btn .signUp {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
}

hr {
  margin-top: 70px;
}

main {
  position: relative;
  z-index: 1;
  margin: 0px 50px 30px 50px;
}

.intro .text {
  margin-top: 50px;
  width: 60%;
  float: left;
}

.intro aside {
  width: 40%;
  float: left;
}

.intro aside img{
    width: 100%;
}

.bText {
  font-size: 80px;
  font-weight: 500;
}

.sText {
  margin-top: 20px;
  font-size: 24px;
  color: rgb(100, 100, 100);
}

.searchSection {
  margin-top: 60px;
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
}

.search input {
  padding: 10px;
  position: relative;
  border-radius: 25px;
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
}

.search i {
  position: absolute;
  right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.coursesSection {
  background-color: white;
  color: black;
  clear: both;
  position: relative;
  margin-bottom: 150px;
  top: 30px;
}

.coursesSection h2 {
  font-size: 3rem;
}

.courseContainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  margin: 20px 20px 10px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: #efefef;
  border-radius: 8px;
  width: 30%;
}

.container img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.explore {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.categories h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}

.categoryContainers {
  display: flex;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}

.categoryContainers .container {
  width: 20%;
}

.categoryContainers .title {
  text-align: center;
  font-size: 18px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
    justify-content:space-around;
}

footer h3{
    font-weight: 300;
    margin-bottom: 10px;
}

footer p{
    
    color: #a7a7a7;
    font-size: 14px;
}

footer .f1{
    width: 25%;
}

footer .f2 ul{
    list-style: none;
}

footer .f2 ul li a{
    color: #a7a7a7;
    font-size: 14px;
    text-decoration: none;
}




@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
