<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shiksha.Tech</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300;400&family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8e2867f597.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%-include('partials/nav.ejs')%>
    <main>
      <div id="video-container">
        <video
          src="https://a6d6-49-43-40-65.ngrok-free.app/Web/Installing%20VS%20Code%20&%20How%20Websites%20Work%20_%20Sigma%20Web%20Development%20Course%20-%20Tutorial%201.mp4"
          controls
        >
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="topics">
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #005eff"></i>
          <p class="topicTitle">
            Installing VS Code & How Websites Work _ Sigma Web Development
            Course - Tutorial 1
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            Your First HTML Website _ Sigma Web Development Course - Tutorial 2
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            Basic Structure of an HTML Website _ Sigma Web Development Course -
            Tutorial 3
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            Heading, Paragraphs and Links _ Sigma Web Development Course -
            Tutorial 4
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            Image, Lists, and Tables in HTML _ Sigma Web Development Course -
            Tutorial 5
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            SEO and Core Web Vitals in HTML _ Sigma Web Development Course -
            Tutorial 6
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            Forms and input tags in HTML _ Sigma Web Development Course -
            Tutorial 7
          </p>
        </div>
        <div class="topicContainer">
          <i class="fa-solid fa-circle-play" style="color: #90b2ec"></i>
          <p class="topicTitle">
            Inline & Block Elements in HTML _ Sigma Web Development Course -
            Tutorial 8
          </p>
        </div>
      </div>
    </main>
    <script src="/scripts/script.js"></script>
  </body>
</html>
