h2{
    border-top: 1px solid black;
    margin-top: 90px;
    text-align: center;
    padding-top: 20px;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 30%; 
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
}

form input{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

#submit{
    cursor: pointer;
    background-color: #2d79fc;
    color: white;
    border: 1px solid #2d79fc;
}

