header {
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: white;
}

header h1 {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin: 0px 20px 0px 0px;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  box-sizing: content-box;
  padding: 3px;
  color: #2d79fc;
  border-radius: 5px;
}

.btn .login {
  border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-right: 10px;
}

.btn .signUp {
  background-color: #2d79fc;
  color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  border: 1px solid #2d79fc;
}

.login1 {
  border: 1px solid black;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 60px;
}

.signUp1 {
  background-color: #2d79fc;
  color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  border: 1px solid #2d79fc;
  margin-left: 60px;
}

.hamburger {
  display: none;
}

.ls {
  display: none;
}

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: montserrat-bold, sans-serif;
}

#mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

h2 {
  border-top: 1px solid black;
  margin-top: 90px;
  text-align: center;
  padding-top: 20px;
}

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
}

form input {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

#submit {
  cursor: pointer;
  background-color: #2d79fc;
  color: white;
  border: 1px solid #2d79fc;
}
